// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// Foodamental test colors
$foodamental-yellow: #EEC824;
$foodamental-yellowclaro: #F2DC99;
$foodamental-bluesky: #A0DFDF;
$foodamental-green: #6A961F;
$foodamental-greenclaro: #92B473;
