<div class="footer-wrapper">
  <div class="left-footer">
    <p>READY TO JOIN US</p>
    <p>Let's get to save food</p>
     <a href="#" class="contact-btn">CONTACT US</a>
  </div>
  <div class="right-footer">
    <div class="quick-social-wrapper">
      <div class="quick-links-wrapper">
        <p>Quick Links</p>
      </div>
       <div class="social-networks">
          <h3>Say Hello</h3>
          <div>
            <a href="#"><i class="fab fa-facebook-f"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-linkedin-in"></i></a>
          </div>
       </div>
    </div>
     <div class="copy-r">
       <p class="copy-right">Copyright © 2022 All Rights Reserved.</p>
       <p>Made it with <i class="fas fa-heart"></i> by <a href="https://www.linkedin.com/in/yamil-pedroso/">Foodamental</a></p>
    </div>
  </div>
</div>
