<div style="background-image: url('https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80'); background-repeat: no-repeat; background-position: center center; background-size: cover; width: 100%; height: 800px;">FOODAMENAL</div>

<div class="">
  <div>
     <h2>
       Roughly one-third of the food produced in the world for human consumption every year - approximately 1.3 billion tonnes - gets lost or wasted.Let's create awareness to distribute and consume our food in a better way.
     </h2>
  </div>

  <div>
    <h2>
      RECOMENDATIONS
    </h2>
    <p>Adopt a healthier, more sustainable diet</p>
  </div>
   <%= link_to image_tag("https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2676&q=80", alt: "food", class: "rec-img") %>
</div>
