<div class="banner-wrapper">
  <div style="background-image: url('https://images.unsplash.com/photo-1542838132-92c53300491e?ixlib=rb-1.2.1&  ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2274&q=80'); background-repeat: no-repeat; background-position:   center center; background-size: cover; width: 100%; height: 900px;" id="banner">
    <div class="foodamental-text-wrapper">
      <h1>FOODAMENAL</h1>
      <a href="https://www.foodamental.com/" class="visit-btn">VISIT SITE</a>
    </div>
  </div>
</div>

<div class="">

  <!-- ENUNCIADO -->
  <div class="enun-wrapper">
     <h2>
       Roughly one-third of the food produced in the world for human consumption every year - approximately 1.3 billion tonnes - gets lost or wasted.Let's create awareness to distribute and consume our food in a better way.
     </h2>
  </div>
  <!-- FINISH ENUNCIADO -->

  <!-- RECOMENDATIONS -->
  <div class="recomendation-wrapper">
    <div>
      <h2>
        RECOMENDATIONS
      </h2>
      <p>Adopt a healthier, more sustainable diet</p>
      <%= link_to "Learn more", "pages/recommendations", class: "learn-more-btn" %>
    </div>
    <div>
      <%= link_to image_tag("https://images.unsplash.com/photo-1464454709131-ffd692591ee5?ixlib=rb-1.2.1&   ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2676&q=80", alt: "food", class: "rec-img") %>
    </div>
  </div>
  <!-- FINISH RECOMENDATIONS -->

    <!-- FOOD WASTE LATEST NEWS -->
   <div class="latest-new-wrapper">
     <div class="left-cont-latestnews">
        <h2>
          Latest News
        </h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </p>
        <%= link_to image_tag("https://www.usda.gov/sites/default/files/2021-10/flw-roundtable-food-waste-reduction-blog-102821.jpg", class:   "wfood-img") %>
     </div>
     <div class="right-cont-latestnews">
       <h4>View All News</h4>
       <h1>
          LOREM IPSUM THEM
          LOREM IPSUM THEM
          LOREM.
        </h1>
        <h3>
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem,
          Lorem ipsum dolor sit amet, consectetur adipiscing elit.
        </h3>
        <%= button_to "READ MORE", class: "latestnews-btn" %>
     </div>
   </div>
   <!-- FINISH FOOD WASTE LATEST NEWS -->

    <!-- TESTIMONIALS -->
    <div class="testimonials-wrapper">
       <div class="left-cont-testimonials">
       </div>
       <div class="right-cont-testimonials">
         <div class="testimonials-title">
            <p>Testimonials</p>
            <p>Saving Food</p>
         </div>
            <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit.Lorem,
                Lorem ipsum dolor sit amet, consectetur adipiscing elit.
            </p>
       </div>
    <!-- TESTIMONIALS CARRUSEL -->
    <div class="testimonial-carrusel-wrapper">
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true"   aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner carrusel-wrapper">
          <div class="carousel-item active test">
             <div class="card-group card-test">
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1540331547168-8b63109225b7?ixlib=rb-1.2.1&  ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1319&q=80" class="img-style" alt="...">
              </div>
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1606787364406-a3cdf06c6d0c?ixlib=rb-1.2.1&  ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" class="img-style" alt="...">
              </div>
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1509331739867-7507a7359de2?ixlib=rb-1.2.1&  ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" class="img-style" alt="...">
              </div>
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1523262941688-de5d977e2399?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1286&q=80" class="img-style" alt="...">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-group">
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1539012511887-d91e166bc41e?ixlib=rb-1.2.1&  ixid=MnwxMjA3fDB8MHxzZWFyY2h8NjF8fHBlb3BsZSUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class="img-style" alt="...">
              </div>
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1547417080-bdc11256756f?ixlib=rb-1.2.1&  ixid=MnwxMjA3fDB8MHxzZWFyY2h8NzR8fHBlb3BsZSUyMGZvb2R8ZW58MHx8MHx8&auto=format&fit=crop&w=800&q=60" class="img-style" alt="...">
              </div>
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1556908153-c0e609dda194?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&  auto=format&fit=crop&w=1287&q=80" class="img-style" alt="...">
              </div>
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1511688878353-3a2f5be94cd7?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" class="img-style" alt="...">
              </div>
            </div>
          </div>
          <div class="carousel-item">
            <div class="card-group">
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1515150144380-bca9f1650ed9?ixlib=rb-1.2.1&  ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" class="img-style" alt="...">
              </div>
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1594916107106-4837e3ed0e6e?ixlib=rb-1.2.1&  ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" class="img-style" alt="...">
              </div>
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1505576399279-565b52d4ac71?ixlib=rb-1.2.1&  ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" class="img-style" alt="...">
              </div>
              <div class="card-style">
                <img src="https://images.unsplash.com/photo-1511690656952-34342bb7c2f2?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1364&q=80" class="img-style" alt="...">
              </div>
            </div>
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
    </div>
    <!-- FINISH TESTIMONIALS CARRUSEL -->
    </div>
    <!-- FINISH TESTIMONIALS -->

    <!-- TESTIMONIALS TEXT -->
    <div class="testimonial-text-wrapper">
      <div class="each-testimonial">
         <h2><span>MARY DOE</span> - COO, ZURICH ENTERPRISES, INC.</h2>
            <h4>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor, nisl eget ultricies tincidunt, elit nisl aliquam mauris, et ultricies nisl nunc eget lorem. Sed auctor, nisl eget ultricies tincidunt, elit nisl aliquam mauris</h4>
      </div>
    </div>
    <!-- FINISH TESTIMONIALS TEXT -->
    <!-- FOOTER -->
</div>
