<div class="container news-wrapper">
   <h1 style="font-family: Abhaya; text-align: center;">LATEST NEWS</h1>
   <div class="news-details">
    <div style="background-image: url('https://images.unsplash.com/photo-1621562010213-c95682af384b?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80')" class="news-item"></div>
    <div class="news-item__content">
      <h2>News Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc ut aliquam aliquet, nisl nisl aliquet nunc, sed aliquet nisl lorem quis nunc. Sed euismod, nunc ut aliquam aliquet, nisl nisl aliquet nunc, sed aliquet nisl lorem quis nunc.</p>
      <a href="#">Read More</a>
    </div>
   </div>
   <div class="news-details">
    <div style="background-image: url('https://www.supermarketnews.com/sites/supermarketnews.com/files/styles/article_featured_retina/public/uploads/2016/06/wastegetty1156.jpg?itok=wteWyH-s')" class="news-item"></div>
    <div class="news-item__content">
      <h2>News Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc ut aliquam aliquet, nisl nisl aliquet nunc, sed aliquet nisl lorem quis nunc. Sed euismod, nunc ut aliquam aliquet, nisl nisl aliquet nunc, sed aliquet nisl lorem quis nunc.</p>
      <a href="#">Read More</a>
    </div>
   </div>
   <div class="news-details">
    <div style="background-image: url('https://marvel-b1-cdn.bc0a.com/f00000000209359/www.uoguelph.ca/alliance/sites/default/files/styles/large/public/Greenhouse.jpg?itok=pXoI7SpT')" class="news-item"></div>
    <div class="news-item__content">
      <h2>News Title</h2>
      <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc ut aliquam aliquet, nisl nisl aliquet nunc, sed aliquet nisl lorem quis nunc. Sed euismod, nunc ut aliquam aliquet, nisl nisl aliquet nunc, sed aliquet nisl lorem quis nunc.</p>
      <a href="#">Read More</a>
    </div>
   </div>
</div>
