<div class="container recom-wrapper">
  <div class="recom-header">
    <div class="left-tr">
      <h1 style="font-family: Abhaya;">Tips and Recommendations</h1>
       <p>
         Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed euismod, nunc ut aliquam tincidunt, nunc nisl aliquam nisl, eget aliquam nunc nisl sit amet nisl. Sed euismod.
       </p>
       <div class=" card mb-3" style="max-width: 18rem;  background-color: #6A961F; color: #fff; border-radius: 5px;">
        <div class="card-header">Tip 1</div>
        <div class="card-body">
          <h5 class="card-title">Adopt a healthier, more sustainable diet</h5>
        </div>
       </div>
       <div class="card mb-3" style="max-width: 18rem; background-color: #6A961F; color: #fff;">
        <div class="card-header">Tip 2</div>
        <div class="card-body">
          <h5 class="card-title">Buy only what you need</h5>
        </div>
       </div>
       <div class="card mb-3" style="max-width: 18rem; background-color: #6A961F; color: #fff;">
        <div class="card-header">Tip 3</div>
        <div class="card-body">
          <h5 class="card-title">Pick ugly fruit and vegetables</h5>
        </div>
       </div>
       <div class="card mb-3" style="max-width: 18rem; background-color: #6A961F; color: #fff;">
        <div class="card-header">Tip 4</div>
        <div class="card-body">
          <h5 class="card-title">Store food wisely</h5>
        </div>
       </div>
       <div class="card mb-3" style="max-width: 18rem; background-color: #6A961F; color: #fff;">
        <div class="card-header">Tip 5</div>
        <div class="card-body">
          <h5 class="card-title">Understand food labelling</h5>
        </div>
       </div>

        <!--<p>
         <img type="button" data-bs-toggle="collapse" data-bs-target="#collapseWidthExample" aria-expanded="false" aria-controls="collapseWidthExample" src=<%#= image_path("idea-2.png") %> width="32" height="32" class="d-inline-block align-top" alt="">
        </p>

         <div style="min-height: 120px;">
           <div class="collapse collapse-horizontal" id="collapseWidthExample">
              <div class="card-tip">
                <div class="text-tip-wrapper">
                  <p>Adopt a healthier, more sustainable diet</p>
                </div>
              </div>
          </div>
        </div>-->
    </div>
    <div class="right-tr">
        <img src="https://images.unsplash.com/photo-1541364983171-a8ba01e95cfc?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1287&q=80" alt="Tips and Recommendations" class="recom-img">
    </div>
  </div>
    <div class="img-gallery-wrapper">
     <div class="row row-cols-1 row-cols-md-3 g-4">
        <div class="col">
          <div class="card-ui">
            <div style="background-image: url(https://images.unsplash.com/photo-1532460854099-4de86fea4a11?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2674&q=80); height: 100%; background-size:cover;" class="card-img" alt="...">
              <div class="card-text">
                 <h3>more sustainable diet</h3>
              </div>
            </div>
          </div>
        </div>

        <div class="col">
          <div class="card-ui">
            <div style="background-image: url( https://images.unsplash.com/photo-1593026122758-19bebc625104?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80); height: 100%; background-size:cover;" class="card-img" alt="...">
              <div class="card-text">
                 <h3>more sustainable diet</h3>
              </div>
            </div>
          </div>
        </div>
        <div class="col">
          <div class="card-ui">
            <img src="https://images.unsplash.com/photo-1414450397866-85f90db48714?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80" class="card-img" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card-ui">
            <img src="https://images.unsplash.com/photo-1606859191214-25806e8e2423?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2635&q=80" class="card-img" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card-ui">
            <img src="https://images.unsplash.com/photo-1414450397866-85f90db48714?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1920&q=80" class="card-img" alt="...">
          </div>
        </div>
        <div class="col">
          <div class="card-ui">
            <img src="https://images.unsplash.com/photo-1498491480129-04f6d95c90be?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2670&q=80" class="card-img" alt="...">
          </div>
        </div>
     </div>
     </div>
</div>

<!--<h3>Adopt a healthier, more sustainable diet</h3>
<h3>Buy only what you need</h3>
<h3>Pick ugly fruit and vegetables</h3>
<h3>Store food wisely</h3>
<h3>Understand food labelling</h3>
<h3>Start small</h3>-->
