.banner-wrapper {
    position: relative;
}

.banner-wrapper .foodamental-text-wrapper{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.foodamental-text-wrapper h1 {
    font-size: 5rem;
    color: rgb(125, 193, 88);
    font-family: 'Times New Roman', Times, serif;
    font-weight: 700;
}

.foodamental-text-wrapper a {
    color: rgb(125, 193, 88);
    font-size: 2rem;
    font-weight: 700;
    text-decoration: none;
    background-color: #ffffff;
    padding: 10px 20px;
    border-radius: 10px;
    margin-top: 20px;
    display: inline-block;
}
