.recomendation-wrapper {
  margin-top: 100px;
}

.latest-new-wrapper {
  display: flex;
  margin-top: 100px;
}

.right-cont-latestnews {
  width: 980px;
  height: 950px;
  background-color: #FDA500;
}

.testimonials-wrapper {
  display: flex;
  position: relative;
}

.left-cont-testimonials {
  width: 916px;
  height: 900px;
  background-color: #95A530;
  border-bottom-right-radius: 30px;
}

.testimonial-carrusel-wrapper {
    position: absolute;
    top: 250px;
    left: 13px;
}

.testimonial-text-wrapper {
    background-color: #D9D9D9;
    width: 100%;
    height: 500px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.each-testimonial {
    width: 50%;
    height: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.each-testimonial span {
  color: #95A530;
}

.each-testimonial h4 {
  text-align: center;
}
