.latest-new-wrapper {
  display: flex;
}

.right-cont-latestnews {
    width: 916px;
    height: 1000px;
    background-color: #FDA500;
}

.left-cont-testimonials {
    width: 916px;
    height: 800px;
    background-color: #95A530;
}
